In [16]:
from pandas import Series, DataFrame
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Series   建立一個序列與索引

In [10]:
obj = Series([4, 7, -5, 3])

In [11]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [12]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [13]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
s = pd.Series([1,3,5,np.nan,6,8])
print s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [22]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj2 = Series(sdata)
print obj2

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

# DataFrame  表格

In [19]:
dates = pd.date_range('20130101', periods=6)

In [20]:
print dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print df

                   A         B         C         D
2013-01-01  0.240793  0.614465  0.407874  0.789657
2013-01-02  0.646268  0.936188 -1.508513  1.275871
2013-01-03  1.494309  0.398863 -0.367300 -1.808068
2013-01-04  1.210602 -0.420075  1.067523 -0.687450
2013-01-05  0.147625 -0.910248 -1.112246  0.751066
2013-01-06 -1.467061  0.595439  0.150110 -1.673220

In [27]:
df2 = pd.DataFrame({ 'A' : 1.,  
                  'B' : pd.Timestamp('20130102'),
                  'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D' : np.array([3] * 4,dtype='int32'),
                  'E' : pd.Categorical(["test","train","test","train"]),
                  'F' : 'foo' })

In [28]:
 df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [29]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [30]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [31]:
df.head() #查看資料

                   A         B         C         D
2013-01-01  0.240793  0.614465  0.407874  0.789657
2013-01-02  0.646268  0.936188 -1.508513  1.275871
2013-01-03  1.494309  0.398863 -0.367300 -1.808068
2013-01-04  1.210602 -0.420075  1.067523 -0.687450
2013-01-05  0.147625 -0.910248 -1.112246  0.751066

In [32]:
df.tail(3)  #顯示3行

                   A         B         C         D
2013-01-04  1.210602 -0.420075  1.067523 -0.687450
2013-01-05  0.147625 -0.910248 -1.112246  0.751066
2013-01-06 -1.467061  0.595439  0.150110 -1.673220

In [33]:
df.index  #列

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [34]:
df.columns  #行

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [35]:
df.values #數值

array([[ 0.24079333,  0.61446524,  0.40787407,  0.78965677],
       [ 0.64626802,  0.9361876 , -1.50851348,  1.27587141],
       [ 1.49430871,  0.39886346, -0.3673    , -1.80806796],
       [ 1.21060163, -0.4200747 ,  1.06752335, -0.68744976],
       [ 0.14762492, -0.91024772, -1.11224563,  0.75106627],
       [-1.46706055,  0.59543859,  0.15010982, -1.67322049]])

In [36]:
df.describe()  #顯示數據資訊

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.378756  0.202439 -0.227092 -0.225357
std    1.047615  0.710884  0.966094  1.345523
min   -1.467061 -0.910248 -1.508513 -1.808068
25%    0.170917 -0.215340 -0.926009 -1.426778
50%    0.443531  0.497151 -0.108595  0.031808
75%    1.069518  0.609709  0.343433  0.780009
max    1.494309  0.936188  1.067523  1.275871

In [37]:
df.T  #轉至

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.240793    0.646268    1.494309    1.210602    0.147625   -1.467061
B    0.614465    0.936188    0.398863   -0.420075   -0.910248    0.595439
C    0.407874   -1.508513   -0.367300    1.067523   -1.112246    0.150110
D    0.789657    1.275871   -1.808068   -0.687450    0.751066   -1.673220

In [38]:
df.sort_index(axis=1, ascending=False) #排序

                   D         C         B         A
2013-01-01  0.789657  0.407874  0.614465  0.240793
2013-01-02  1.275871 -1.508513  0.936188  0.646268
2013-01-03 -1.808068 -0.367300  0.398863  1.494309
2013-01-04 -0.687450  1.067523 -0.420075  1.210602
2013-01-05  0.751066 -1.112246 -0.910248  0.147625
2013-01-06 -1.673220  0.150110  0.595439 -1.467061

In [39]:
df.sort_values(by='B') #排序 依照B

                   A         B         C         D
2013-01-05  0.147625 -0.910248 -1.112246  0.751066
2013-01-04  1.210602 -0.420075  1.067523 -0.687450
2013-01-03  1.494309  0.398863 -0.367300 -1.808068
2013-01-06 -1.467061  0.595439  0.150110 -1.673220
2013-01-01  0.240793  0.614465  0.407874  0.789657
2013-01-02  0.646268  0.936188 -1.508513  1.275871

In [40]:
df['A']  #選擇a列

2013-01-01    0.240793
2013-01-02    0.646268
2013-01-03    1.494309
2013-01-04    1.210602
2013-01-05    0.147625
2013-01-06   -1.467061
Freq: D, Name: A, dtype: float64

In [41]:
 df[0:3]  #0到3行

                   A         B         C         D
2013-01-01  0.240793  0.614465  0.407874  0.789657
2013-01-02  0.646268  0.936188 -1.508513  1.275871
2013-01-03  1.494309  0.398863 -0.367300 -1.808068

In [42]:
df.loc[dates[0]]  #單行查詢

A    0.240793
B    0.614465
C    0.407874
D    0.789657
Name: 2013-01-01 00:00:00, dtype: float64

In [43]:
df.loc[:,['A','B']]   #多行查詢

                   A         B
2013-01-01  0.240793  0.614465
2013-01-02  0.646268  0.936188
2013-01-03  1.494309  0.398863
2013-01-04  1.210602 -0.420075
2013-01-05  0.147625 -0.910248
2013-01-06 -1.467061  0.595439

In [44]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  0.646268  0.936188
2013-01-03  1.494309  0.398863
2013-01-04  1.210602 -0.420075

In [45]:
df.loc['20130102',['A','B']]

A    0.646268
B    0.936188
Name: 2013-01-02 00:00:00, dtype: float64

In [46]:
df.loc[dates[0],'A']

0.2407933261198999

In [47]:
df.at[dates[0],'A']   #at速度更快

0.2407933261198999

In [48]:
 df.iloc[3]

A    1.210602
B   -0.420075
C    1.067523
D   -0.687450
Name: 2013-01-04 00:00:00, dtype: float64

In [49]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  1.210602 -0.420075
2013-01-05  0.147625 -0.910248

In [50]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  0.646268 -1.508513
2013-01-03  1.494309 -0.367300
2013-01-05  0.147625 -1.112246

In [51]:
 df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  0.646268  0.936188 -1.508513  1.275871
2013-01-03  1.494309  0.398863 -0.367300 -1.808068

In [52]:
df[df.A > 0]  #布林運算

                   A         B         C         D
2013-01-01  0.240793  0.614465  0.407874  0.789657
2013-01-02  0.646268  0.936188 -1.508513  1.275871
2013-01-03  1.494309  0.398863 -0.367300 -1.808068
2013-01-04  1.210602 -0.420075  1.067523 -0.687450
2013-01-05  0.147625 -0.910248 -1.112246  0.751066

In [53]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)

In [54]:
print frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [55]:
df2 = df.copy()

In [56]:
df2['E'] = ['one', 'one','two','three','four','three']

In [58]:
df2

                   A         B         C         D      E
2013-01-01  0.240793  0.614465  0.407874  0.789657    one
2013-01-02  0.646268  0.936188 -1.508513  1.275871    one
2013-01-03  1.494309  0.398863 -0.367300 -1.808068    two
2013-01-04  1.210602 -0.420075  1.067523 -0.687450  three
2013-01-05  0.147625 -0.910248 -1.112246  0.751066   four
2013-01-06 -1.467061  0.595439  0.150110 -1.673220  three

In [60]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6)) #新增對應index

In [61]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [62]:
df['F'] = s1

In [63]:
df.at[dates[0],'A'] = 0

In [66]:
df.iat[0,1] = 0

In [67]:
df.loc[:,'D'] = np.array([5] * len(df))

In [69]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [71]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [72]:
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.407874  5  NaN  1.0
2013-01-02  0.646268  0.936188 -1.508513  5  1.0  1.0
2013-01-03  1.494309  0.398863 -0.367300  5  2.0  NaN
2013-01-04  1.210602 -0.420075  1.067523  5  3.0  NaN

In [73]:
df1.dropna()  #丟失值

                   A         B         C  D    F    E
2013-01-02  0.646268  0.936188 -1.508513  5  1.0  1.0

In [74]:
df1.fillna(value=5)  #填補5進去

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.407874  5  5.0  1.0
2013-01-02  0.646268  0.936188 -1.508513  5  1.0  1.0
2013-01-03  1.494309  0.398863 -0.367300  5  2.0  5.0
2013-01-04  1.210602 -0.420075  1.067523  5  3.0  5.0

In [75]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

In [76]:
df.mean()  #統計運算 平均

A    0.338624
B    0.100028
C   -0.227092
D    5.000000
F    3.000000
dtype: float64

In [77]:
 df.mean(1)

2013-01-01    1.351969
2013-01-02    1.214788
2013-01-03    1.705174
2013-01-04    1.971610
2013-01-05    1.425026
2013-01-06    1.855698
Freq: D, dtype: float64

In [78]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000  0.407874   5   NaN
2013-01-02  0.646268  0.936188 -1.100639  10   1.0
2013-01-03  2.140577  1.335051 -1.467939  15   3.0
2013-01-04  3.351178  0.914976 -0.400416  20   6.0
2013-01-05  3.498803  0.004729 -1.512662  25  10.0
2013-01-06  2.031743  0.600167 -1.362552  30  15.0

In [79]:
df.apply(lambda x: x.max() - x.min())

A    2.961369
B    1.846435
C    2.576037
D    0.000000
F    4.000000
dtype: float64

In [80]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [81]:
s

0    6
1    6
2    3
3    1
4    6
5    3
6    4
7    2
8    1
9    3
dtype: int32

In [82]:
s.value_counts()

6    3
3    3
1    2
4    1
2    1
dtype: int64

In [83]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [84]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [85]:
df5 = pd.DataFrame(np.random.randn(10, 4))

In [86]:
df5

          0         1         2         3
0  0.663477 -0.735809 -0.949456  0.483806
1 -0.272907  0.032589 -0.867367 -0.942560
2  0.080364 -0.923132 -0.557734  0.928344
3  1.176817 -0.029818 -1.486185  1.227816
4  0.029654  0.610525 -0.193071  0.562711
5  0.103454 -0.868085 -0.774462  0.721242
6  1.187294 -1.115684 -1.636652  0.950516
7 -0.166608  0.150126 -0.610986  0.180536
8 -0.135362  0.416636  0.087440 -0.640291
9 -0.869436 -1.096994  0.391829  0.801685

In [87]:
pieces = [df5[3:7], df5[:3], df5[7:]]

In [88]:
pd.concat(pieces)

          0         1         2         3
3  1.176817 -0.029818 -1.486185  1.227816
4  0.029654  0.610525 -0.193071  0.562711
5  0.103454 -0.868085 -0.774462  0.721242
6  1.187294 -1.115684 -1.636652  0.950516
0  0.663477 -0.735809 -0.949456  0.483806
1 -0.272907  0.032589 -0.867367 -0.942560
2  0.080364 -0.923132 -0.557734  0.928344
7 -0.166608  0.150126 -0.610986  0.180536
8 -0.135362  0.416636  0.087440 -0.640291
9 -0.869436 -1.096994  0.391829  0.801685

# join

In [92]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

# Append

In [93]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

In [94]:
df

          A         B         C         D
0  1.499572  0.360298  0.353633 -0.731278
1 -0.632660  0.662079  1.519819  1.242387
2  0.167769 -0.153610 -0.818992  0.719689
3 -0.636536  0.985547  0.621222 -1.674925
4  0.281503  0.759430  1.343464 -0.435762
5 -0.172704  0.108256 -0.580361 -0.764504
6 -1.216929 -1.533629 -0.685467 -0.053989
7  0.695325 -1.992610  1.420264  1.769547

In [95]:
s = df.iloc[3]

In [96]:
 df.append(s, ignore_index=True)   #新增資料

          A         B         C         D
0  1.499572  0.360298  0.353633 -0.731278
1 -0.632660  0.662079  1.519819  1.242387
2  0.167769 -0.153610 -0.818992  0.719689
3 -0.636536  0.985547  0.621222 -1.674925
4  0.281503  0.759430  1.343464 -0.435762
5 -0.172704  0.108256 -0.580361 -0.764504
6 -1.216929 -1.533629 -0.685467 -0.053989
7  0.695325 -1.992610  1.420264  1.769547
8 -0.636536  0.985547  0.621222 -1.674925

# Grouping

In [98]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',  
                         'foo', 'bar', 'foo', 'foo'],
                'B' : ['one', 'one', 'two', 'three',
                       'two', 'two', 'one', 'three'],
                'C' : np.random.randn(8),
                'D' : np.random.randn(8)})

In [99]:
df

     A      B         C         D
0  foo    one  0.027031 -0.267453
1  bar    one -0.539651  0.282175
2  foo    two -1.377221  1.111482
3  bar  three  0.132041  0.990640
4  foo    two -0.821814  0.356280
5  bar    two -0.098549 -0.907898
6  foo    one -1.086043 -0.966528
7  foo  three -0.056090  0.270114

In [100]:
df.groupby('A').sum()  # group by 後加總

            C         D
A
bar -0.506160  0.364917
foo -3.314137  0.503896

In [101]:
 df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.539651  0.282175
    three  0.132041  0.990640
    two   -0.098549 -0.907898
foo one   -1.059012 -1.233981
    three -0.056090  0.270114
    two   -2.199035  1.467762